@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

body{
    background: #ffffff;
        font-family: "M PLUS Code Latin", monospace;
        font-optical-sizing: auto;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #C06014; 
  }